<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>ねこったー</title>
  </head>
  <body>
    <header>
      <h1>ねこったー</h1>
    </header>
    <div class="contents">
  <% @tweets.each do |tweet| %>
<!--        <form class="clearfix">
        <img src="images/cat1.png">
        <textarea rows="4" cols="40"></textarea>
        <div class="button-box">
          <input type="submit">
        </div>
      </form> -->
      <div class="message clearfix">
       <%= image_tag 'cat1.png' %>
        <div class="message_box">
          <p class="user_name">
            野良猫1号
            <!-- <span class="time">・8月13日</span> -->
          <p>
          <p class="text">
          <%= tweet.text %>
          </p>
        </div>
        <% end %>
      </div>
      <div class="message clearfix">
        <img src="images/cat1.png">
        <div class="message_box">
          <p class="user_name">たま
            <!-- <span class="time">・8月13日</span> -->
          <p>
          <p class="text">
            家宝は寝て待てにゃー。急がば回れにゃー。蓼食う虫も好き好きにゃー。一念岩をも通すにゃー。千石取れば万石羨むにゃー。
          <p>
        </div>
      </div>
      <div class="message clearfix">
        <img src="images/cat1.png">
        <div class="message_box">
        </div>
      </div>
      <div class="message clearfix">
        <img src="images/cat1.png">
        <div class="message_box">
        </div>
      </div>
      <div class="message clearfix">
        <img src="images/cat1.png">
        <div class="message_box">
        </div>
      </div>
      <div class="message clearfix">
        <img src="images/cat1.png">
        <div class="message_box">
        </div>
      </div>
      <div class="message clearfix">
        <img src="images/cat1.png">
        <div class="message_box">
        </div>
      </div>
    </div>
  </body>
</html>
